.local/lib
.local/state
.local/share/nvim
.local/share/qutebrowser
.local/share/ranger
.local/share/xorg
.local/share/zathura
.local/share/recently-used.xbel

.local/bin/epylint
.local/bin/futurize
.local/bin/isort
.local/bin/movie-monad*
.local/bin/pasteurize
.local/bin/pylint
.local/bin/pyreverse
.local/bin/symilar

.config/ncmpcpp/error.log
.config/mpd/log
.config/mpd/database