rofi.combi-modi: window,drun
rofi.modi: combi

rofi.theme: Pop-Dark
rofi.font: Monospace 13
rofi.show-icons: true
rofi.icon-theme: Adiwa

rofi.display-file-browser: 🐧

rofi.width: 30
rofi.lines: 5
rofi.location: 3
rofi.yoffset: 10
rofi.xoffset: -10

Sxiv.background: #000000
Sxiv.foreground: #FFFFFF
